body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
  font-family: Georgia;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
  background: #deecdf;

}
.header-section {
  text-align: center;
  min-height: 500px;
}
.header-section img {
  margin-top: 7em;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.header-section h1 {
  font-size: 3em;
  text-transform: capitalize;
  color: #393b3a;
  padding: 0.5em 0 0 0;
}

.header-section h2 {
  font-size: 2em;
  text-transform: capitalize;
  color: #393b3a;
  padding: 0.5em 0 0 0;
}

.header-section h3 {
  font-size: 1.5em;
  color: #393b3a;
  padding: 0.5em 0 0 0;
}

.header-section span {
  color: #00cfbd;
}
.header-section p {
  font-size: 1.3em;
  color: #393b3a;
}